




/*fin menu.................................................................*/
.acecar{
     background-color: black;
    margin: 0;
    min-height: 100vh;
}


.acecar .mi{
    height: 100vh;
    margin-top: 100px;
    display: block;
}

.acecar .mi2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    background-color: transparent;
    margin: 0px 190px 0px 190px;
    gap: 50px;
}

.acecar .mi h1{
    display: flex;
    justify-content: center; /* centra vertical */
    align-items: center;     /* centra horizontal */
    font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
    color: #f4f7fb8d;
    font-size: 80px;
    gap: 60px;
}

.acecar .mi h1 span{
    color: #34183f;
}

.mi h2{
    font-size: 28px;
  
    color: #4e285d;
    
}

.acecar .mi2 p{
    color: #f4f7fb8f;
    font-size: 19px;
    margin: 0px 0px 0px 0px;
}
.acecar .mi button{
    color: #bd8de4;
    width: 255px;
    height: 50px;
    border-radius: 12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin-top: 50px;
}

.acecar .infor{
    background-color: transparent;
    width: 100%;
    padding: 0px 90px 0px 0px;
    margin-bottom: 20px;
}

.acecar .crad{
    display: flex;
    gap: 10px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    width: 100%;
    height: 450px;
    padding: 20px;
    border-radius: 12px;
}

.acecar .contacto{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}
.acecar .contacto h3{
    font-size: 18px;
    color: #c49de4c5 ;
    text-align: center;
    padding: 8px;
}

.linea{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #99999978;
    height: 0.04px;
}

.acecar .contacto a{
    display: block;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin: 8px 20px 5px 20px;
    border-radius: 12px;
    padding:  6px 6px 6px 10px; 
    text-decoration: none;
    overflow: hidden;
    font-size: 16px;
    color: #9974a8;
    transition: all 0.3s;
}

 .contacto a:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #bd8de4;
    border: solid 0.1px #903dcf;
    background-color: #240f36;
    box-shadow: 0px 0px 5px #8d3dcf;
}

.contac img{
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
}


.acecar .card-status{
    padding:6px;
    border-radius:12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin: 6px 20px 5px 20px;
    display:flex;
    align-items:center;
    box-shadow: 0px 0px 5px #000000fd;
}


.acecar .icon-box{
    border: 0.1px solid#34183f;
    background:rgba(1, 40, 22, 0.046);
    border-radius: 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0px 8px 0px 0px;
}



.acecar .icon-box i{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color:#7813a0;
}
.acecar .text{
    display:flex;
    flex-direction: column;
}
.acecar .text small{
    color:#9a47dd ;
    font-size:13px;
    margin-bottom: 5px;
}

.acecar .text h2{
    margin: 0;
    color: #bd8de4 ;
    font-size:13px;
    
}



.acecar .imagen{
    margin-top: 45px;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    box-shadow:0 0 9px rgba(2, 2, 2, 0.77);
    overflow: hidden;
}

.acecar .imagen img{
    width: 100%;
    height: 100%;
}

.leneaM{
    width: 100%;
    height: 0.1px;
    background-color: #7a638a;
    margin-bottom: 30px;
}