
/*fin menu.................................................................*/
body{
    background-color: black;
    margin: 0;
}


 .mi{
    margin-top: 46px;
    margin-bottom: 46px;
    display: block;
}

.mi2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 5px;
    background-color: transparent;
    margin: 120px 190px 0px 190px;
    gap: 50px;
}

.mi h1{
    display: flex;
    justify-content: center; /* centra vertical */
    align-items: center;     /* centra horizontal */
    font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
    color: #f4f7fb8d;
    font-size: 70px;
    gap: 60px;
}

.mi h1 span{
    color: #34183f;
}

.mi h2{
    font-size: 32px;
    color: #4e285d;
}

.mi2 p{
    color: #f4f7fb8f;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}
.mi button{
    color: #bd8de4;
    font-size: 20px;
    width: 395px;
    padding: 14px;
    border-radius: 12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin-top: 50px;
}

.infor{
    background-color: transparent;
    width: 100%;
    padding: 0px 90px 0px 0px;
    margin-bottom: 20px;
}

.crad{
    display: flex;
    gap: 10px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    width: 100%;
    height: 450px;
    padding: 20px;
    border-radius: 12px;
}

.contacto{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}
.contacto h3{
    font-size: 18px;
    color: #c49de4c5 ;
    text-align: center;
    padding: 10px 8px 8px 8px;
}

.linea{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #99999978;
    height: 0.04px;
}

.contacto a{
    display: block;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin: 8px 20px 5px 20px;
    border-radius: 12px;
    padding:  6px 6px 6px 10px; 
    text-decoration: none;
    overflow: hidden;
    font-size: 16px;
    color: #9974a8;
    transition: all 0.3s;
}

 .contacto a:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #bd8de4;
    border: solid 0.1px #903dcf;
    background-color: #240f36;
    box-shadow: 0px 0px 5px #8d3dcf;
}

.contac img{
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
}


.card-status{
    padding:6px;
    border-radius:12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    margin: 6px 20px 5px 20px;
    display:flex;
    align-items:center;
    box-shadow: 0px 0px 5px #000000fd;
}


.icon-box{
    border: 0.1px solid#34183f;
    background:rgba(1, 40, 22, 0.046);
    border-radius: 12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0px 8px 0px 0px;
}



.icon-box i{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color:#7813a0;
}
.text{
    display:flex;
    flex-direction: column;
}

.text small{
    color:#9a47dd ;
    font-size:13px;
    margin-bottom: 5px;
}

.text h2{
    margin: 0;
    color: #bd8de4;
    font-size:13px;
    
}



.imagen{
    margin-top: 45px;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 12px;
    border: solid 0.1px #34183f;
    background-color: #190a297a;
    box-shadow:0 0 9px rgba(2, 2, 2, 0.77);
    overflow: hidden;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.leneaM{
    width: 100%;
    height: 0.1px;
    background-color: #7a638a;
    margin-bottom: 30px;
}


/* INPIRACIO*/
.inspiracion{
    width: 100%;
    margin-top: 130px;
    margin-bottom: 110px;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
}

.parrafo{
    position:relative;

    width:95%;

    padding:25px;
    left: 2.50%;
    border-radius:20px;

    background-color: #190a297a;

    border:1px solid rgba(102, 101, 105, 0.131);
    color: #bdbdbd9c;
    overflow:hidden;

    
}


.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
    width: 97%;
    padding: 20px 20px 20px 20px;
    overflow-x: hidden;
}

.cliente, .htm{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 400px;

    padding: 20px;

    border: solid 0.1px #34183f;
    background-color: #190a297a;

    border-radius: 12px;
    overflow: hidden;
}


.plexus-side{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 1;
}

.cliente video,
.htm video{
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



.plexus-side.left  { left: 0; }
.plexus-side.right { right: 0; }

.plexus-side canvas {
    width: 100%;
    height: 100%;
    display: block;
}


/*OBJETIVOS..............................................*/


.objetivos{
    width:98%;
    margin:90px auto;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;

    padding:40px;

    border-radius:30px;

    background-color: #190a297a;

    border:1px solid rgba(85, 84, 86, 0.25);

    

    overflow:hidden;

    position:relative;
}

/* EFECTO LUZ */

.objetivos::before{
    content:"";

    position:absolute;

    width:350px;
    height:350px;

    background:#6c2bc21f;

    border-radius:50%;

    top:-150px;
    right:-100px;

    filter:blur(90px);
}

/* CONTENEDOR IZQUIERDO */

.contenedor{
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    min-width:420px;
}

/* TITULO */

.objetivo{
    padding-bottom:35px;
}

.objetivo p{
    font-size:55px;
    font-weight:700;

    color:#f5f5f5;

    letter-spacing:1px;
}

.objetivo span{
    color:#9d5cff;
}

/* TEXTO */

.objParrafo{
    flex:1;
}

.objParrafo p{
    position:relative;

    font-size:16px;

    color:#d4d4d4;

    line-height:1.9;

    margin-bottom:20px;

    padding:18px 20px 18px 28px;

    background:rgba(255,255,255,0.02);

    border-radius:16px;

    border:1px solid rgba(255,255,255,0.04);

    transition:0.3s;
}

/* LINEA LATERAL */

.objParrafo p::before{
    content:"";

    position:absolute;

    left:0;
    top:18px;

    width:4px;
    height:65%;

    border-radius:20px;

    background:
    linear-gradient(
    #6c2bc2,
    #c084fc
    );
}

.objParrafo p:hover{
    transform:translateX(8px);

    background:rgba(108,43,194,0.06);

    border:1px solid rgba(108,43,194,0.2);
}

/* =====================================================
   BOLA
===================================================== */

.bola{
    width:350px;
    height:350px;

    border-radius:50%;

    overflow:hidden;

    position:relative;

    margin:0;

    border:1px solid rgba(200,165,232,0.45);

    box-shadow:
    0 0 35px rgba(108,43,194,0.25),
    inset 0 0 25px rgba(108,43,194,0.18);

    background:rgba(255,255,255,0.02);

    animation:flotar 5s ease-in-out infinite;
}

/* AGUA */

.agua{
    position:absolute;

    width:650px;
    height:650px;

    left:-150px;
    top:170px;

    background:
    linear-gradient(
    #2d1245,
    #6c2bc2,
    #9f67ff
    );

    border-radius:
    45% 55% 80% 30% /
    40% 40% 60% 60%;

    animation:
    girar 7s linear infinite,
    mover 4s ease-in-out infinite alternate,
    deformar 6s ease-in-out infinite;
}

/* BRILLO */

.bola::before{
    content:"";

    position:absolute;

    width:14px;
    height:95px;

    background:rgba(255,255,255,0.7);

    border-radius:50%;

    top:85px;
    left:75px;

    filter:blur(8px);

    z-index:10;
}

/* GOTAS */

.gota{
    position:absolute;

    background:#c084fc;

    border-radius:50%;

    box-shadow:0 0 12px #ffffff;
}

.gota1{
    width:18px;
    height:18px;

    left:40px;

    animation:salir1 3s ease-in-out infinite;
}

.gota2{
    width:18px;
    height:18px;

    right:70px;
    bottom:70px;

    animation:salir2 4s ease-in-out infinite;
}

.gota3{
    width:14px;
    height:14px;

    left:200px;
    bottom:40px;

    animation:salir3 2.5s ease-in-out infinite;
}

.gota4{
    width:18px;
    height:18px;

    right:150px;
    bottom:50px;

    animation:salir4 3.5s ease-in-out infinite;
}

/* ROTAR AGUA */

@keyframes girar{
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }
}

/* SUBIR Y BAJAR */

@keyframes mover{
    0%{
        top:100px;
    }

    100%{
        top:200px;
    }
}

/* CURVAS */

@keyframes deformar{

    0%{
        border-radius:
        45% 55% 70% 30% /
        40% 40% 60% 60%;
    }

    25%{
        border-radius:
        60% 40% 35% 65% /
        55% 30% 70% 45%;
    }

    50%{
        border-radius:
        35% 65% 55% 45% /
        60% 50% 40% 50%;
    }

    75%{
        border-radius:
        55% 45% 70% 30% /
        35% 65% 45% 55%;
    }

    100%{
        border-radius:
        45% 55% 70% 30% /
        40% 40% 60% 60%;
    }
}

/* FLOTAR BOLA */

@keyframes flotar{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0px);
    }
}

/* ANIMACION GOTAS */

@keyframes salir1{

    0%{
        transform:translateY(0px) scale(1);
        opacity:1;
    }

    100%{
        transform:translateY(-180px) translateX(-30px) scale(0);
        opacity:0;
    }
}

@keyframes salir2{

    0%{
        transform:translateY(0px) scale(1);
        opacity:1;
    }

    100%{
        transform:translateY(-210px) translateX(40px) scale(0);
        opacity:0;
    }
}

@keyframes salir3{

    0%{
        transform:translateY(0px) scale(1);
        opacity:1;
    }

    100%{
        transform:translateY(-160px) translateX(-20px) scale(0);
        opacity:0;
    }
}

@keyframes salir4{

    0%{
        transform:translateY(0px) scale(1);
        opacity:1;
    }

    100%{
        transform:translateY(-190px) translateX(20px) scale(0);
        opacity:0;
    }
}


/* =====================================================
   RESPONSIVE
===================================================== */

@media(max-width:950px){

    .objetivos{
        flex-direction:column;
        padding:30px 20px;
    }

    .contenedor{
        min-width:100%;
    }

    .objetivo p{
        font-size:38px;
        text-align:center;
    }

    .bola{
        width:260px;
        height:260px;
    }

    .objParrafo p{
        font-size:15px;
    }
}