
body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
   
    overflow-x: hidden;

}

#starfield {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


.areglosnav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 30px; 
    height: 40px;
}


.menu{
    display: flex;
    gap: 25px;
  
}

.menu  a{
    text-decoration: none;
    display: flex;
    align-items: center; 
    gap: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: "Antic Slab", serif; 
    position: relative;
    z-index: 1;
    background-color: #3c056d00;
    padding: 5px 12px 5px 12px;
}


.menu a:hover{
    color: #ffffff;
    background-color: #3c056d;
    padding: 5px 12px 5px 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px #fff;
}

.menu-resP{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.menu img{
    width: 1.5rem;  
}
.nombre{
    color: rgb(188, 186, 186);
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    font-family: "Antic Slab", serif; 
    transition: all 0.3s;
    margin: 0px 20px 0px 0px;
}

.nombre:hover{
    transform: scale(1.1);
}

.cvlogo{
    display: flex;
    gap: 30px;
}

.cvlogo a{
    text-decoration: none;
}

.btn-cv{
    background-color: #3318a2c4; 
    opacity: 0.70;
    padding: 5px 12px 5px 12px;
    border-radius: 12px;
    color: #ffffff;
    font-family: "Antic Slab", serif; 
}

.btn-cv:hover{
    background-color: #8814ee7c;
    box-shadow: 0px 0px 5px #fff;
    font-family: "Antic Slab", serif; 
}

/*cv..............................................................................................*/

/*estudios*/

.contenedor1{
    display: block; 

}

.fondoEstudios h1{
   
    font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
    font-size: 3rem;
    font-weight:  5000;
    color: #3418a2ef;
    opacity: 0.7;
    text-shadow: 0px 0px 10px #fff;
}

.generation{
    height: 395px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 12px;
    overflow: hidden;
    display: block;   
    background-color: #3418a2ef;
    padding: 18px 18px 18px 18px;
    position: relative;
    z-index: 1;
    animation: flotar 3s ease-in-out infinite;
}
@keyframes flotar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* sube */
  }
  100% {
    transform: translateY(-1px); /* baja */
  }
}
.generation1{
    height: 395px;
    margin-top: 150px;
    border-radius: 12px;
    overflow: hidden;
    display: block;  
    background-color: #3418a2ef;
    padding: 18px 18px 18px 18px;
    position: relative;
    z-index: 1;
    animation: flotar 3s ease-in-out infinite;
}

.generation2{
    height: 395px;
    margin-top: 150px;
    border-radius: 12px;
    overflow: hidden;
    display: block;   
    background-color: #3418a2ef;
    padding: 0px 18px 18px 18px;
    position: relative;
    z-index: 1;
    animation: flotar 3s ease-in-out infinite;
}

h1{
    text-align: center;
    margin: 10px;
    margin-top: 50px;
    padding: 8px 8px 8px 8px;
    position: relative;
    z-index: 1;
}

.generation h2{
    text-align: center;
    color: #000000;
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.generation1 h2{
    text-align: center;
    color: #000000;
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.generation2 h2{
    text-align: center;
    color: #000000;
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}


.generation h3{
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}

.generation1 h3{
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}

.generation2 h3{
    font-size: 17px;
    color: #ffffff;
    text-align: center;
}

.generation p{
    text-align: center;
    padding: 0px;
    font-size: 14px;
    color: #fafaff;

}

.generation1 p{
    text-align: center;
    padding: 0px;
    font-size: 16px;
    color: #e8e8ee;

}

.generation2 p{
    text-align: center;
    padding: 0px;
    font-size: 16px;
    color: #f4f4fd;

}


.botoneGeratios{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botoneGeratios .generationBoton{
    border-radius: 12px;
    background-color: #200c6fd5;
    border: solid 0.50px #000000;
    padding: 5px;
    width: 190px;
    color: #ffffff;
    font-size: 15px;


}

.botoneGeratios .generationBoton:hover{
    background-color: #6653e09f;
    box-shadow: 0px 0px 5px #fff;
    border: none;
    cursor: pointer;
    text-shadow: 0px 0px 5px #91b6c3;
}
/*fin de estudios*/






/*abilidades*/
.fondo {
  position: relative; /* Necesario para que las burbujas queden detrás */
  overflow: hidden; /* Las burbujas no se salen */

}


.fondoh1 h1{
   
    margin-top: 130px;
    font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
    font-size: 3rem;
    font-weight:  5000;
    color: #8814eed3;
    opacity: 0.60;
    
    text-shadow: 0 0 19px #23042d, 0 0 15px #7c15d7d3;

    position: relative;
}

.abilidades{
    margin-top: 10px;
    
}

.cardEstudios{
    width: 250px;
    height: 379px;
    background-color: transparent;
    border-radius: 12px;
    display: block;
    animation: flotar 4s ease-in-out infinite;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
    position: relative; /* Necesario para que las burbujas queden detrás */

}

@keyframes flotar {
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
}
.abilidad{
    height: 200px;
    width: 130px;
    border: solid 0.1px #ffffff;
    background: #8814eed3;
    box-shadow: 0 0 25px #0a090a, 0 0 25px #8814eed3;
    margin: 109px auto 0;
    position: relative;
    border-radius: 12px;
    display: block;
    padding: 5px;
    overflow: hidden;
    transition: transform 0.4s ease; /* más suave */
}


.abilidad.active {
  transform: translateY(-67px); /* simula subir */
  border: solid 1px #647a84;
  box-shadow: 0 0 20px #ffffff, 0 0 45px #8814eed3;
}

.imagenesCards{
    width: 119px;
    height: 110px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
}

.imagenesCards img{
    width: 119px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linea{
    background-color: #f6fafb;
    height: 0.03px;
    opacity: 0.4;
}

.textoCards{
    display: block;
}

.textoCards p{
    color: #e0e0e0;
    font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
    font-weight:  5000;
    text-shadow: 0px 0px 5px #390e5f;
    font-size: 18px;
    margin: 5px;
}

.textoCards button{
   background-color: #962bf4;
   box-shadow: 0px 0px 1px #ffffff;
   border: none;
   width: 90px;
   height: 28px;
   border-radius: 12px;
   text-align: center;
   text-shadow: 0px 0px 15px #000000;
   color: #e1d0ef;
   font-family: 'Fredoka', 'Arial Rounded MT Bold', sans-serif;
   margin-top: 5px;
   padding: 0;
   font-size: 14px;
}

.textoCards button:hover{
   background-color: #9d4fe1;
   box-shadow: 0px 0px 5px #ffffff;
   color: #fffffff3;
}

.linea{
    background-color: #cb9ee5;
    height: 1px;
}

.informacioCards{
    opacity: 1.0;
    background: #8814eed3;
    box-shadow: 0 0 5px #030303, 0 0 10px #8814eed3;
    border: solid 0.1px #ffffff;
    backdrop-filter: blur(5px);
    width: 210px;
    height: 80px;
    position: absolute;
    bottom:  30px;
    margin-bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 12px;
    padding: 5px;
    overflow: hidden;
  
}
.informacioCards:hover{
    background-color: #962bf4;
    box-shadow: 0 0 5px #d8d7d7, 0 0 20px #af76e1d3;
    cursor: pointer;
    
}


.informacioCards p{
    font-size: 11px;
    padding: 7px;
    width: 199px;
    margin: 0 auto;
    color: #d1cece;
}




